* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container > * {
    background-color: royalblue;
    padding: 20px;
    font-size: 20px;
}

.container {
    font-family: sans-serif;
    margin: 0 auto;
    color: white;
    padding: 20px;
    width: 1000px;
    height: 200vh;
    text-transform: capitalize;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr) 200px;
    grid-template-rows: 1fr 2fr 4fr 1fr;
}

.header {
    /* grid-area: 1/1/2/-1; */
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: -1;
}

.sidebar {
    /* grid-area: 2/4/4/5; */
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 4;
    grid-column-end: 5;
}

.main {
    /* grid-area: 3/1/4/4; */
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
}

.footer {
    /* grid-area: 4/1/5/-1; */
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: -1;
}